<p-card>
    <ng-template pTemplate="title">
        Upload CSV
    </ng-template>
    <ng-template pTemplate="subtitle">
        Drag or Choose the CSV to be formatted
    </ng-template>
    <ng-template pTemplate="content">
        <div *ngIf="!isExtracting">
            <p-fileUpload name="myfile[]" customUpload="true" accept="*.csv" (uploadHandler)="onUpload($event)" [auto]="true"></p-fileUpload>
        </div>
        <div *ngIf="isExtracting">
            <p-progressSpinner [style]="{width: '200px', height: '200px'}" class="p-d-block p-mx-auto" animationDuration="2s"></p-progressSpinner>
        </div>
    </ng-template>
</p-card>

