<p-toast></p-toast>

<p-card>
    <ng-template pTemplate="title">
        Select Sessions/Laps
    </ng-template>
    <ng-template pTemplate="subtitle">
        Choose the sessions/laps to export including any precise timing and penalties
    </ng-template>
    <ng-template pTemplate="content">
        <app-import></app-import>
        <div class="p-d-flex p-ai-end">
            <p-button label="Back" (onClick)="prevPage()" icon="pi pi-angle-left" [style]="{'margin-right': '.5em'}"></p-button>
            <p-button label="Next" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
            <div class="p-ml-auto">
                <p-radioButton name="lapSelect" value="bestGhost" [(ngModel)]="lapSelect" inputId="select1" (click)="selectBestAndPrevious()"></p-radioButton>
                <label for="select1">Best and Previous Only</label>
                <p-radioButton name="lapSelect" value="manual" [(ngModel)]="lapSelect" inputId="select2"></p-radioButton>
                <label for="select2">Manual</label>
            </div>
        </div>
        <p-table [value]="sessions" [(selection)]="selectedSessions" [expandedRowKeys]="expandedSessions" dataKey="sessionNum" styleClass="p-datatable-striped">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 5rem"></th>
                    <th style="width: 5rem">
                        <p-tableHeaderCheckbox [disabled]="lapSelect=='bestGhost'"></p-tableHeaderCheckbox>
                    </th>
                    <th>Session #</th>
                    <th>Precise Start Time</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-session let-expanded="expanded">
                <tr>
                    <td>
                        <button type="button" pButton pRipple [pRowToggler]="session" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                    </td>
                    <td>
                        <p-tableCheckbox [value]="session" [disabled]="lapSelect=='bestGhost'"></p-tableCheckbox>
                    </td>
                    <td>
                        {{session.sessionNum}}
                    </td>
                    <td pEditableColumn>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-inputNumber [(ngModel)]="session.preciseSessionStart" [minFractionDigits]="3" [maxFractionDigits]="3"></p-inputNumber>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{session.preciseSessionStart | number : '1.3-3'}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-session>
                <tr>
                    <td colspan="4">
                        <p-table [value]="session.laps" dataKey="id" styleClass="p-datatable-striped" (onEditComplete)="updateBestLap()">
                            <ng-template pTemplate="colgroup">
                                <colgroup>
                                    <col style="width:10%">
                                    <col style="width:30%">
                                    <col style="width:30%">
                                    <col style="width:30%">
                                </colgroup>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Lap #</th>
                                    <th>Time</th>
                                    <th>Sectors</th>
                                    <th>Penalties</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-lap let-expanded="expanded">
                                <tr>
                                    <td>
                                        {{lap.displayId ?? lap.id}}
                                        <p-tag *ngIf="best.id==lap.id" styleClass="p-ml-2" severity="success" value="Best" [rounded]="true"></p-tag>
                                        <p-tag *ngIf="best.previousBest.id==lap.id" styleClass="p-ml-2" severity="warning" value="Previous" [rounded]="true"></p-tag>
                                    </td>
                                    <td pEditableColumn>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <p-inputNumber [(ngModel)]="lap.lapTime" [minFractionDigits]="3" [maxFractionDigits]="3" (input)="updateBestLap()"></p-inputNumber>
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{lap.lapTime | number : '1.3-3'}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td>
                                        <button type="button" pButton pRipple [pRowToggler]="lap" label="Expand" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                                    </td>
                                    <td>
                                        <button type="button" pButton pRipple [pRowToggler]="lap" label="Expand" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="rowexpansion" let-lap>
                                <tr>
                                    <td colspan="1">
                                        <p-checkbox [(ngModel)]="lap.isInvalid" [binary]="true" label="Invalid Lap" pTooltip="Skip exporting this lap and do not count it against the numbered laps."></p-checkbox>
                                    </td>
                                    <td style="vertical-align: top;">
                                        <p-table [value]="lap.sectors" dataKey="dataRowIndex" styleClass="p-datatable-striped" (onEditComplete)="updateSectors(lap)">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th>Sector Splits</th>
                                                    <th style="width: 3rem"></th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-sector let-i="rowIndex">
                                                <tr>
                                                    <td pEditableColumn>
                                                        <p-cellEditor>
                                                            <ng-template pTemplate="input">
                                                                <p-inputNumber ngDefaultControl [(ngModel)]="sector.split" [minFractionDigits]="3" [maxFractionDigits]="3" (input)="updateSectors(lap)" [disabled]="i+1==lap.sectors.length ? '' : null"></p-inputNumber>
                                                            </ng-template>
                                                            <ng-template pTemplate="output">
                                                                {{sector.split | number : '1.3-3'}}
                                                            </ng-template>
                                                        </p-cellEditor>
                                                    </td>
                                                    <td>
                                                        <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger" (click)="removeSector(i)"></button>
                                                    </td>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="summary">
                                                <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded p-button-success" (click)="addSector()"></button>
                                            </ng-template>
                                        </p-table>
                                    </td>
                                    <td colspan="2" style="vertical-align: top;">
                                        <p-table [value]="lap.penalties" dataKey="dataRowIndex" styleClass="p-datatable-striped" (onEditComplete)="updateSectors(lap)">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th>Type</th>
                                                    <th>Time</th>
                                                    <th style="width: 3rem"></th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-penalty let-i="rowIndex">
                                                <tr>
                                                    <td pEditableColumn>
                                                        <p-cellEditor>
                                                            <ng-template pTemplate="input">
                                                                <p-dropdown [options]="penaltyTypes" [(ngModel)]="penalty.type" optionLabel="name" required></p-dropdown>
                                                            </ng-template>
                                                            <ng-template pTemplate="output">
                                                                {{penalty.type.name}}
                                                            </ng-template>
                                                        </p-cellEditor>
                                                    </td>
                                                    <td pEditableColumn>
                                                        <p-cellEditor>
                                                            <ng-template pTemplate="input">
                                                                <p-inputNumber ngDefaultControl [(ngModel)]="penalty.lapTime" [minFractionDigits]="3" [maxFractionDigits]="3" (input)="updateSectors(lap)"></p-inputNumber>
                                                            </ng-template>
                                                            <ng-template pTemplate="output">
                                                                {{penalty.lapTime | number : '1.3-3'}}
                                                            </ng-template>
                                                        </p-cellEditor>
                                                    </td>
                                                    <td>
                                                        <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger" (click)="removePenalty(lap, i)"></button>
                                                    </td>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="summary">
                                                <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded p-button-success" (click)="addPenalty(lap)"></button>
                                            </ng-template>
                                        </p-table>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </ng-template>
    
    <ng-template pTemplate="footer">
        <p-button label="Back" (onClick)="prevPage()" icon="pi pi-angle-left" [style]="{'margin-right': '.5em'}"></p-button>
        <p-button label="Next" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
    </ng-template>
</p-card>