<h2>Welcome!</h2>
<p>This website allows you to read a CSV file from RaceChrono into separate Sessions which are converted and transformed as appropriate.
    It also allows more precise timing to more accurately specify lap, sector, and penalty times.</p>
<p>Select either the Composer tab or the Formatter tab to begin.</p>

<h2>One-time Setup Files</h2>
<p>The CSV files that are created by this website are used as input for <a href="https://racerender.com/RR3/Features.html">RaceRender</a> templates.</p>
<p>The template and styles are available <a href="/setup/RaceRender+3.zip">here</a>. Download the zip file and then unzip it inside your Documents folder so that the Template and Display Objects are copied into the RaceRender 3 folder in the correct location.</p>
<p>The fonts required by the template and styles are available <a href="/setup/Fonts.zip">here</a>.  Download the zip file and then double click on each of the files inside to install the fonts on your computer.</p>
