<p-card>
    <ng-template pTemplate="title">
        Upload CSV
    </ng-template>
    <ng-template pTemplate="subtitle">
        Drag or Choose the CSV to be formatted
    </ng-template>
    <ng-template pTemplate="content">
        <div style="height: 39px;"><!-- Import Buffer --></div>
        <p-button *ngIf="raceService.csvData != null" label="Next" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right" [style]="{'margin-left': '99px'}"></p-button>
        <div *ngIf="!isExtracting" style="padding-top: .5em;">
            <p-fileUpload name="myfile[]" customUpload="true" accept="*.csv" (uploadHandler)="onUpload($event)" [auto]="true">
                <ng-template pTemplate="content" let-files>
                    <h3 class="p-text-secondary" style="text-align: center;">Drag files here</h3>
                </ng-template>
            </p-fileUpload>
        </div>
        <div *ngIf="isExtracting" style="display: flex; justify-content: center; align-items: center;">
            <p-progressSpinner [style]="{width: '200px', height: '200px'}" class="p-d-block p-mx-auto" animationDuration="2s"></p-progressSpinner>
        </div>
    </ng-template>
</p-card>

