<mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step [completed]="data != null && data.parsed.length > 0" label="Upload">
        <div class="container" appDragndrop (fileDropped)="onFileDropped($event)">
            <mat-spinner *ngIf="isExtracting" style="margin:25px auto;" [diameter]="150"></mat-spinner>
            <input *ngIf="!isExtracting" type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event.target.files)" />
            <img *ngIf="!isExtracting" src="assets/img/dnd/ic-upload-file.svg" alt="">
            <h3 *ngIf="!isExtracting">Drag and drop file here</h3>
            <h3 *ngIf="!isExtracting">or</h3>
            <label *ngIf="!isExtracting" for="fileDropRef">Browse for file</label>
        </div>
    </mat-step>
    <!-- #docregion label -->
    <mat-step [stepControl]="columnsForm" label="Columns">
        <!-- #enddocregion label -->
        <form [formGroup]="columnsForm">
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext (click)="saveColumnSelection()">Next</button>
            </div>
            <ng-container formArrayName="columns">
                <mat-table [dataSource]="csvColumns.controls">
                    <!-- Checkbox Column -->
                    <ng-container matColumnDef="isExport">
                        <!--<mat-header-cell *matHeaderCellDef>
                            <mat-checkbox (change)="$event ? masterToggle() : null"
                                        [checked]="isAllSelected()"
                                        [indeterminate]="isSomeSelected()"
                                        [aria-label]="checkboxLabel()">
                            </mat-checkbox>
                        </mat-header-cell>-->
                        <mat-header-cell *matHeaderCellDef> Export? </mat-header-cell>
                        <mat-cell *matCellDef="let column" [formGroup]="column">
                            <input type="checkbox" formControlName="isExport"/>
                        </mat-cell>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="column">
                        <th mat-header-cell *matHeaderCellDef> Column </th>
                        <td mat-cell *matCellDef="let column"> {{column.value.name}} </td>
                    </ng-container>
                    
                    <!-- Conversion Column -->
                    <ng-container matColumnDef="conversion">
                        <mat-header-cell *matHeaderCellDef> Conversion </mat-header-cell>
                        <mat-cell *matCellDef="let column" [formGroup]="column">
                            <mat-form-field floatLabel="never">
                                <mat-select formControlName="conversion">
                                    <mat-option *ngFor="let conversion of conversions" [value]="conversion">
                                        {{ conversion.label }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-cell>
                    </ng-container>
                    
                    <!-- Transform Column -->
                    <ng-container matColumnDef="transform">
                        <mat-header-cell *matHeaderCellDef> Transform </mat-header-cell>
                        <mat-cell *matCellDef="let column" [formGroup]="column">
                            <mat-form-field floatLabel="never">
                                <mat-select formControlName="transform">
                                    <mat-option *ngFor="let transform of transforms" [value]="transform">
                                        {{ transform.value }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="columnSelectColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: columnSelectColumns;"></mat-row>
                </mat-table>
            </ng-container>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext (click)="saveColumnSelection()">Next</button>
            </div>
        </form>
    </mat-step>
    <!-- #docregion label -->
    <mat-step [stepControl]="lapForm" label="Laps">
        <!-- #enddocregion label -->
        <form [formGroup]="lapForm">
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext (click)="saveColumnSelection()">Next</button>
            </div>
            <ng-container formArrayName="laps">
                <mat-table [dataSource]="laps.controls">
                    <!-- Checkbox -->
                    <ng-container matColumnDef="isExport">
                        <!--<mat-header-cell *matHeaderCellDef>
                            <mat-checkbox (change)="$event ? masterToggle() : null"
                                        [checked]="isAllSelected()"
                                        [indeterminate]="isSomeSelected()"
                                        [aria-label]="checkboxLabel()">
                            </mat-checkbox>
                        </mat-header-cell>-->
                        <mat-header-cell *matHeaderCellDef> Export? </mat-header-cell>
                        <mat-cell *matCellDef="let lap" [formGroup]="lap">
                            <input type="checkbox" formControlName="isExport"/>
                        </mat-cell>
                    </ng-container>

                    <!-- Lap ID -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> Lap # </th>
                        <td mat-cell *matCellDef="let lap"> {{lap.value.id}} </td>
                    </ng-container>
                    
                    <!-- Lap Time -->
                    <ng-container matColumnDef="time">
                        <mat-header-cell *matHeaderCellDef> Lap Time </mat-header-cell>
                        <mat-cell *matCellDef="let lap" [formGroup]="lap">
                            <mat-form-field floatLabel="never">
                                <input matInput type="number" formControlName="time"/>
                            </mat-form-field>
                        </mat-cell>
                    </ng-container>
                    
                    <!-- Sectors -->
                    <ng-container matColumnDef="sector">
                        <mat-header-cell *matHeaderCellDef> Sectors </mat-header-cell>
                        <mat-cell *matCellDef="let lap" [formGroup]="lap">
                            <div formArrayName="sectors">
                                <div *ngFor="let sector of lapSectors(lap.value.id - 1).controls; let sectorIndex=index">
                                    <div [formGroupName]="sectorIndex">
                                        <input matInput type="number" formControlName="split"/>
                                    </div>
                                </div>
                            </div>
                            <!--<mat-form-field floatLabel="never">
                                <mat-select formControlName="transform">
                                    <mat-option *ngFor="let transform of transforms" [value]="transform">
                                        {{ transform.value }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>-->
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="lapSelectColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: lapSelectColumns;"></mat-row>
                </mat-table>
            </ng-container>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext (click)="saveLapSelection()">Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Download</ng-template>
        <p>You are now done.</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="reset()">Reset</button>
        </div>
    </mat-step>
    <!--<ng-template matStepperIcon="upload">
        <mat-icon>file_upload</mat-icon>
    </ng-template>-->
</mat-horizontal-stepper>